* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

}

:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #B85C38;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #5C3D2E;
    --color-bg1: #2F2519;
    --color-bg2: #2D2424;

    --container-width-lg: 76%;
    --container-width-md: 99%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

    --font1 :'Signika Negative', sans-serif;
    --font2 : 'Dongle', sans-serif;
}

body{
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    /* height: 100vh; */
}

section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;

}

/* h1,
h2,
h3,
h4,
h5{

    line-height: 1.2;
}

h1{
    font-size: 2.7rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.5rem;
}

p
{
    font-size: 1.5rem;
} */

a {
    color: var(--color-white)
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);

}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}

/*======================NAVBAR=======================*/
nav {
    font-family: var(--font1);
    font-weight: bold;
    /* font-size: 15px; */
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Change navbar styless on scroll using js */
.window-scroll
{
    background: var(--color-danger);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_icon
{
    font-size: 30px;
}

.nav_menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

/*======================HEADER=======================*/
header {
    position: relative;
    top: 2rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
    height: 100vh;
}

.header_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header_left h1
{
    font-family: var(--font1);
    font-size: 3rem;
    line-height: 2.8rem;
}

.header_left a
{
    font-family: var(--font1);
}

.header_left p {
    font-family: var(--font2);
    margin: 1.2rem 0 1.5rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

/* .background
{
    content: "";
    position: relative;
    background: var(--color-bg1);
}  */

/* .header_right-image::before
{
    content: "";
    background-position: 3rem;
    display: block;
    background: black;
    width: 3rem;
} */




/*======================LOCATION=======================*/

.container_location
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* gap: 5rem; */
    height: 100%;
    background: var(--color-bg1);
}

/* .location_left image
{
    display: flex;
    align-items: center; */
    /* margin: 2rem 2rem 2rem; */
    /* position: absolute; */
    /* height: 600px;
    width: 400px;
    left: 100px;
    top: 0px;
} */

.location_right h2
{
    font-family: var(--font1);
    font-size: 2.1rem;
    line-height: 2.3rem;
}

.location_right p
{
    font-family: var(--font2);
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 1.5rem 0rem 0.7rem;
}

.location_info
{
    font-family: var(--font2);
    /* font-size: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* grid-template-columns: 10% 90%; */
}

.location_info p
{
    /* display: flex; */
    /* align-items: center; */
    margin: 0rem 0rem 0.3rem 0.7rem;
}

/*======================FOOTER=======================*/
footer
{
    background: var(--color-bg2);
    padding-top: 3rem;
}

.footer
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer_1
{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 2rem;
    line-height: 3rem;
}

.footer_1 p
{
    line-height: 1.4rem;
}

.footer_2
{
    display: grid;
    grid-template-rows: 1fr;
    /* margin: 2rem; */
    margin-top: 2rem;
    margin-left: 7rem;
    line-height: 1.4rem;
}

.footer_icon
{
    margin-top: 2rem;
    margin-left: 1rem;
}

.select_icon
{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 1rem;
}

.copy
{
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 3re;
}