* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #0d28a6;
    --color-success: #5cb85f;
    --color-alert: #f9cc00;
    --color-danger: #fa2c5a;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #F1F3FF;
    --color-border : #d0d0d0;

    --bg-header: #F1F3FF;
    --container-width-lg: 76%;
    --container-width-md: 99%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    
}

body{
    font-family: Arial, Helvetica, sans-serif !important; 
    color: var(--color-black);
    background: var(--color-white);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}


h1,
h2,
h3,
h4,
h5{

    line-height: 1.2;
}

h1{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

h2 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

a {
    color: var(--color-black)
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn-success {
    background: var(--color-success);
    color: var(--color-white);

}

.logo {
    background: var(--color-primary);
    width: 100px;
    height: 34px;
}

/*======================NAVBAR=======================*/
nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    padding: 24px 0 24px 0;
    z-index: 1;

}
.nav-section{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0 6px 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-menu button {
    color: var(--color-white);
    padding: 0.4rem 1.6rem;
}

.nav-menu a{
    transition: var(--transition);
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.nav-menu a:hover {
    color: var(--color-primary);
  }

.window-scroll {
    background: var(--color-bg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
  
/*======================HEADER=======================*/
header {
    background: var(--color-bg);
    position: relative;
    width: 100vw;
    height: 37.25rem;
    overflow: hidden;
    padding-top: 177px;  

}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    margin: px 0 5rem 0;
    margin-top: 37px;
    padding-top: 4rem;
}

.header-left h1 {
    margin-bottom: 1rem;

}

.header-left button a {
    color: var(--color-white);
    padding: 8px 12px 8px 12px;
}
.header-left a {
    margin: 1rem 0 0 0;
  }
  
  .header-right img {
    right: 0;
    bottom: 0;
    margin-top: 10px;
    position: absolute;
    width: 704px;0
    height: 407px;
    /* left: 1440px;
    top: 97px; */
  }
  
  .background {
    background: var(--color-primary);
    width: 704px;
    height: 200px;
    z-index: -1px;
    border-radius: 60px 0px 0px 0px;
    left: 736px;
    top: 261px;
    align-self: baseline;
  }
/* ======================= Service ===================== */
  
.service-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
    height: 100%;
    margin: px 0 5rem 0;
    margin-top: 37px;
    padding: 0 100px 0 100px;
  }
  .service-left {
    width: 100%;
    height: 100%;
  }
  .service-left img {
    width: 459px;
    height: 428px;
  }
  .service-right {
    width: 100%;
    height: 100%;
  }
  .service-right p {
    margin: 24px 0 18px 0;
  }
  
  .list-service {
    display: flex;
    flex-direction: column;
  }
  
  .serve {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5% 95%;
    gap: 10px;
    align-items: center;
  }
  
  .icon {
    background: var(--color-bg);
    border-radius: 4rem;
  }
  .icon i {
    padding: 2px 2px 2px 3px;
  }
  .serve p {
    margin: 0;
  }
  /* ======================= Why Us ===================== */
  
  .whyuse-section p {
    margin: 2rem 0 2rem 0;
  }
  
  .list-reason {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
  .reason {
    line-height: 2rem;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
  }
  .reason h5 {
    padding: 15px 0 15px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .reason-icon {
    background: var(--color-alert);
    padding: 0.5rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    color: var(--color-white);
  }
  
  .reason:nth-child(2) .reason-icon {
    background: var(--color-danger);
  }
  .reason:nth-child(3) .reason-icon {
    background: var(--color-primary);
  }
  .reason:nth-child(4) .reason-icon {
    background: var(--color-success);
  }
  
/* ======================= Testimonial ===================== */

body {
    font-family: Helvetica;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
.bg-aliceblue {
    background-color: #f1f3ff;
}
.bg-button {
    background-color: #5cb85f!important;
}
.bg-primary-darkblue {
    background-color: #0d28a6;
}
.testimonial-img {
    width: 80px;
    height: 80px;
}
.testimonial-rating {
    max-height: 16px;
}
.testimonial-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}
.testimonial-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
.testimonial-media:hover {
  background-color: #04AA6D;
  color: white;
}
.footer-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.footer-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.alert-red {
    background-color: #fa2c5a;
}
.alert-yellow {
    background-color: #f9cc00;
}
.alert-green {
    background-color: #73ca5c;
}

  /* ======================= Getting Started ===================== */
.gettingstarted-section {
	height: 326px;
	text-align: center;

	border-radius: 13px;
	color: var(--color-white);
	background: var(--color-primary);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gettingstarted-section button {
	display: block;
	margin-top: 1rem;
	padding: 0.4rem 1.6rem;
	color: var(--color-white);
}
/* ================== faqs ================== */

.accordion-item{
    margin-bottom: 16px;
    border-top-left-radius: var(--bs-accordion-border-radius) !important;
    border-top-right-radius: var(--bs-accordion-border-radius) !important;
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius) !important;
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius) !important;
    border: 1px #eaeaea solid !important;
    --bs-accordion-bg: unset;
}
.accordion-button {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  }
.accordion-button:focus {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  }
.accordion-button:not(.collapsed) {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-header{
    gap: 1.4rem mb-2;
}

.faqs__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
}
.accordion-item{
    margin-bottom: 16px;
}
.mb-16{
    margin-bottom: 16px;
}
.faq {
    padding: 1.5rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1.4rem;
    height: fit-content;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.faq h4 {
    font-size: 1rem;
    /* line-height: 2.2; */
    
}

.faq__icon {
    align-items: center;
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
} 

/* ================== footer ================== */
footer {
    background: var(--color-white);
    /* background: red; */
    padding-top: 5rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer__1 p {
    margin: 0 0 2rem;
    vertical-align: top;
}

.footer__2 p {
    padding-left: 4rem;
    margin: 0 0 2rem;
}

.footer__3 p {
    margin: 0 0 2rem;
}

.footer__3-social {
    display: flex;
    justify-content: space-between;
}

.footer__4 {
    padding-left: 5rem;
}

.footer__4 p {
    margin: 0 0 2rem;
}