* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-bg: #f1f3ff;
  --color-primary: #0d28a6;
  --color-success: #5cb85f;
  --color-alert: #f9cc00;
  --color-danger: #fa2c5a;
  --color-black: #000;
  --color-border: #d0d0d0;
  --color-white: #fff;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-white);
  line-height: 1.7;
  color: var(--color-black);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  margin: 100px 0;
}
footer {
  margin: 100px 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
a {
  color: var(--color-black);
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
img {
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  width: 140px;
  height: 36px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn-success {
  background: var(--color-success);
  color: var(--color-white);
}
.logo {
  background: var(--color-primary);
  width: 100px;
  height: 34px;
}
/* ======================= NavBar ===================== */
nav {
  background: transparent;
  width: 100vw;
  height: 6rem;
  position: fixed;
  padding: 24px 0 24px 0;
  z-index: 1;
}
.nav-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0 6px 0;
  /* margin: 24px 0 22px 0; */
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-menu button a {
  color: var(--color-white);
  padding: 8px 12px 8px 12px;
}

.nav-menu a {
  transition: var(--transition);
  color: var(--color-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.nav-menu a:hover {
  color: var(--color-primary);
}
.window-scroll {
  background: var(--color-bg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* ======================= Header (main section) ===================== */
header {
  background: var(--color-bg);
  position: relative;
  width: 100vw;
  height: 37.25rem;
  overflow: hidden;
  padding-top: 177px;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
  margin: px 0 5rem 0;
  margin-top: 37px;
  padding-top: 4rem;
}

.header-left h1 {
  margin-bottom: 1rem;
}

.header-left button a {
  color: var(--color-white);
  padding: 8px 12px 8px 12px;
}

.header-left a {
  margin: 1rem 0 0 0;
}

.header-right img {
  right: 0;
  bottom: 0;
  margin-top: 10px;
  position: absolute;
  width: 704px;
  height: 407px;
  /* left: 1440px;
  top: 97px; */
}

.background {
  background: var(--color-primary);
  width: 704px;
  height: 200px;
  z-index: -1px;
  border-radius: 60px 0px 0px 0px;
  left: 736px;
  top: 261px;
  align-self: baseline;
}

/* ======================= Service ===================== */

.service-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  height: 100%;
  margin: px 0 5rem 0;
  margin-top: 37px;
  padding: 0 100px 0 100px;
}
.service-left {
  width: 100%;
  height: 100%;
}
.service-left img {
  width: 459px;
  height: 428px;
}
.service-right {
  width: 100%;
  height: 100%;
}
.service-right p {
  margin: 24px 0 18px 0;
}

.list-service {
  display: flex;
  flex-direction: column;
}

.serve {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 5% 95%;
  gap: 10px;
  align-items: center;
}

.icon {
  background: var(--color-bg);
  border-radius: 4rem;
}
.icon i {
  padding: 2px 2px 2px 3px;
}
.serve p {
  margin: 0;
}

/* ======================= Why Us ===================== */

.whyuse-section p {
  margin: 2rem 0 2rem 0;
}

.list-reason {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
.reason {
  line-height: 2rem;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}
.reason h5 {
  padding: 15px 0 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.reason-icon {
  background: var(--color-alert);
  padding: 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}

.reason:nth-child(2) .reason-icon {
  background: var(--color-danger);
}
.reason:nth-child(3) .reason-icon {
  background: var(--color-primary);
}
.reason:nth-child(4) .reason-icon {
  background: var(--color-success);
}

/* ======================= Testimonial ===================== */
.testimonial-section {
  text-align: center;
}
.testimonial-section p {
  margin-bottom: 40px;
}
.review {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
  left: 0;
}
.testimonial {
  background: var(--color-bg);
  display: grid;
  grid-template-columns: 6.5% 94.5%;
  gap: 46px;
  align-content: center;
  padding: 95px 32px 95px 46px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.testimonial .nama {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font: bold;
}
.star {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 0px 36px 8px 46px;
}

.testimonial p {
  margin: 0 36px 8px 46px;
  margin-bottom: 8px;
}

/* .review h1{
  margin-bottom: 18px;
} */
/* ======================= Getting Started ===================== */
.gettingstarted-section {
  background: var(--color-primary);
  border-radius: 13px;
  text-align: center;
  color: var(--color-white);
  /* width: 1168px; */
  height: 326px;
  left: 136px;
  top: 2078px;
}
.gettingstarted-section h1 {
  padding-top: 64px;
  line-height: 150%;
}

.gettingstarted-section p {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 342px 54px 342px;
}
.gettingstarted-section button a {
  color: var(--color-white);
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  padding: 8px 12px 8px 12px;
}

/* ======================= FaQ ===================== */

.faq-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.faq{
  /* padding: 2rem; */
  margin: 16px 0 0 0;
  padding: 18px 0 18px 24px;
  display: flex;
  align-items: center;
  gap:1.4rem;
  height: fit-content;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  cursor: pointer; 
  border-radius: 4px;
}

.faq-icon{
  align-self: flex-start;
  justify-self: start;
  font-size: 1.2rem;
  padding-right: 25px;
}

.faq p{
  display: none;
}

.faq.open p{
  display: block;
}



/* .faq-left h1 {
  margin-bottom: 1rem;
} */

/* ======================= Footer ===================== */
.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 86px;
}
.address p {
  margin: 0 0 1rem;
  line-height: 20px;
  font-weight: 300px;
  font-size: 14px;
}
.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}
.social-icon {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}
.social-icon img {
  position: absolute;
  width: 50px;
  height: 50px;
}
