/* Global */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #0d28a6;
  --color-succes: #5cb85f;
  --color-warning: #f9cc00;
  --color-danger: #fa2c5a;
  --color-black: #000;
  --color-white: #fff;
  --color-bg: #f1f3ff;
  --color-bg2: #cfd4ed;

  --shadow-high: 0 0 10px rgba(0, 0, 0, 0.15);
  --shadow-low: 0 0 4px rgba(0, 0, 0, 0.15);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.7;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/*============ MAIN SECTION ============*/

.main-section {
  background: var(--color-bg);
}

/**** NAVBAR ****/

.container_navbar {
  width: var(--container-width-lg);
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav_logo img {
  width: 4.5rem;
}

.nav_menu {
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_menu li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-black);
  font-weight: 400;
  transition: var(--transition);
  cursor: pointer;
}

.nav_menu li a:hover {
  color: var(--color-bg2);
}

.nav_menu > .btn {
  font-weight: bolder;
}

.nav_menu > .btn:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.container_navbar > .menu-btn {
  font-size: 1.7rem;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}

.side_nav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: var(--color-white);
  overflow-x: hidden;
  transition: var(--transition);
  padding-top: 4rem;
  display: none;
}

.side_nav a {
  margin: 1rem 2rem 1rem;
  display: block;
  font-size: 1rem;
  color: var(--color-black);
  transition: var(--transition);
  text-decoration: none;
}

.side_nav a:hover {
  color: var(--color-bg2);
}

.side_nav .btn {
  width: 6rem;
  color: var(--color-white);
  font-weight: bolder;
}

.side_nav .btn:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.side_nav .close-btn {
  position: absolute;
  top: 1rem;
  right: 0;
  color: var(--color-black);
}

/**** HEADER ****/

.header {
  position: relative;
}

.container_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding-top: 4rem;
}

.header-left {
  margin-left: 9.5rem;
  font-size: 1.1rem;
  padding-bottom: 6.5rem;
}

.header-left p {
  margin: 1.5rem 0 2.4rem;
}

.header-left h1 {
  font-weight: bolder;
  line-height: 3.2rem;
}

.header-left > .btn {
  font-weight: bolder;
}

.header-left > .btn:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.header-right {
  padding-top: 6rem;
  margin-bottom: -0.5rem;
}

.header-right .background_img {
  background: var(--color-primary);
  width: 100%;
  height: 20rem;
  border-radius: 100px 0 0 0;
  margin-top: -20rem;
}

/*============ OUR SERVICE SECTION ============*/

.our_service-section {
  margin: 0 10rem;
  padding: 10rem 0;
}

.our_service-container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
}

.our_service-left {
  width: 25rem;
}

.our_service-right h1 {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: bolder;
}

.our_service-right p {
  font-size: 1rem;
  margin: 1.5rem 0 1rem;
}

.our_service-right ul {
  padding-left: 0;
}

.our_service-right ul li {
  font-size: 1.1rem;
  line-height: 2.7rem;
}

.our_service-right ul li i {
  color: var(--color-primary);
  background: var(--color-bg2);
  border-radius: 100%;
  padding: 0.07rem 0.2rem;
  margin-right: 1rem;
}

/*============ WHY US SECTION ============*/

.why_us-section {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.why_us-top {
  line-height: 5rem;
  margin-bottom: 2rem;
}

.why_us-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding-bottom: 8rem;
}

.why_us-top h1 {
  font-weight: 700;
}

.why_us {
  background: var(--color-white);
  padding: 1.3rem;
  border: 1px solid var(--color-bg2);
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.why_us:hover {
  box-shadow: var(--shadow-high);
}


.why_us-icon {
  background: var(--color-warning);
  padding: 0.3rem 0.45rem;
  color: var(--color-white);
}

.why_us:nth-child(2) .why_us-icon {
  background: var(--color-danger);
}

.why_us:nth-child(3) .why_us-icon {
  background: var(--color-primary);
}

.why_us:nth-child(4) .why_us-icon {
  background: var(--color-succes);
}

.why_us h5 {
  font-weight: bolder;
  margin: 1.4rem 0 1.5rem;
}

/*============ TESTIMONIAL SECTION ============*/

.testimonial-section {
  position: relative;
  justify-content: space-around;
  padding-bottom: 5rem;
  margin: 0 3rem;
  overflow-x: hidden;
}

.testimonial-title {
  text-align: center;
}

.testimonial-title h1 {
  font-weight: bolder;
}

.testimonial-title p {
  margin: 4rem 0 6rem;
}

.testimonial {
  display: grid;
  grid-template-columns: 30% 70%;
  background: var(--color-bg2);
  padding: 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.testimonial:hover {
  box-shadow: var(--shadow-low);
}

.testimonial-avatar {
  width: 5rem;
  margin-top: 1rem;
}

.testimonial-body {
  font-size: 0.65rem;
}

.testimonial-body p {
  margin: 0.4rem 0 0;
}

.testimonial-body img {
  width: 5rem;
}

/*============ GETTING STARTED SECTION ============*/

.getting_started-section {
  margin: 7rem auto;
  width: var(--container-width-lg);
}

.getting_started-container {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.8rem;
  padding: 3rem 12rem;
  text-align: center;
}

.getting_started-container p {
  font-size: 0.7rem;
  margin: 1.5rem 12rem 3rem;
}

.getting_started-container > .btn {
  font-weight: bolder;
}

.getting_started-container > .btn:hover {
  color: var(--color-white);
  background: transparent;
  border: 1px solid var(--color-white);
}

/*============ FAQ SECTION ============*/

.faq-section {
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
}

.faq-left h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.faq-left p {
  font-size: 0.8rem;
}

.faq-right {
  padding-right: 3rem;
}

.accordion-item {
  margin: 2rem 0;
}

.accordion-item:nth-child(1) {
  margin: 0;
}

/*============ FOOTER ============*/

footer {
  width: var(--container-width-lg);
  margin: 0 auto;
  padding: 2rem 0 3rem;
  overflow: hidden;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.permalinks li {
  margin-bottom: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.permalinks li:hover {
  color: var(--color-bg2);
}

.footer_social {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  padding-left: 0;
}

.footer_social li a {
  background: var(--color-primary);
  padding: 0.2rem 0.5rem 0.3rem;
  color: var(--color-white);
  border-radius: 100%;
  transition: var(--transition);
}

.footer_social li a:hover {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.footer_4 img {
  padding-top: 1rem;
  width: 6rem;
}

/*================= MEDIA QUERIES (TABLET) =================*/

@media screen and (max-width: 1024px) {
  /* Main Section -Navbar */
  .container_navbar {
    width: var(--container-width-sm);
  }

  .container_navbar .menu-btn {
    display: flex;
    z-index: 1;
  }

  .nav_menu {
    display: none;
  }

  .side_nav {
    display: block;
    z-index: 2;
  }

  /* Main Section -Header */
  .container_header {
    padding: 0;
    height: 18rem;
  }

  .header-left {
    padding-top: 4rem;
    margin-left: 1.8rem;
  }

  .header-left h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .header-left p {
    font-size: 0.7rem;
    margin: 1.5rem 0;
  }

  .header-right {
    margin-top: -6.5rem;
  }

  .header-right .background_img {
    margin-top: -11.1rem;
    height: 12rem;
  }

  /* Our Service Section */

  .our_service-section {
    margin: 0;
    padding: 6rem 5rem;
  }

  .our_service-left {
    width: 15rem;
  }

  .our_service-right h1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .our_service-right p {
    font-size: 0.6rem;
  }

  .our_service-right ul li {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }

  /* Why Us Section */

  .why_us-section {
    width: var(--container-width-md);
    font-size: 1rem;
  }

  .why_us-top h1 {
    font-size: 2.2rem;
  }

  .why_us-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-bottom: 8rem;
  }

  /* Testimonial Section */

  .testimonial {
    display: flex;
    flex-direction: column;
    background: var(--color-bg2);
    padding: 3rem;
    border-radius: 1rem;
    cursor: pointer;
  }

  .testimonial-avatar {
    margin: 0 auto;
  }

  .testimonial-body {
    padding: 1rem 0 0 0;
    text-align: center;
  }

  .testimonial-body img {
    margin: 0 auto;
  }

  /* Getting Started Section */

  .getting_started-section {
    width: var(--container-width-md);
  }

  .getting_started-container p {
    margin: 2rem 0;
  }

  /* FAQ Section */

  .faq-section {
    width: var(--container-width-md);
  }

  .faq-left h1 {
    font-size: 1.4rem;
  }

  .faq-left p {
    font-size: 0.5rem;
  }

  /* Footer Section */

  footer {
    width: var(--container-width-md);
  }

  .footer_container {
    gap: 3rem;
    font-size: 0.7rem;
    margin: 0;
  }

  .footer_social {
    font-size: 1rem;
    gap: 0.5rem;
  }
}

/*================= MEDIA QUERIES (PHONE) =================*/

@media screen and (max-width: 600px) {
  /* Main Section -NavBar */
  .container_navbar {
    width: var(--container-width-sm);
  }

  .container_navbar .menu-btn {
    display: flex;
  }

  .nav_menu {
    display: none;
  }

  .side_nav {
    display: block;
  }

  /* Main Section -Header */

  .container_header {
    display: flex;
    flex-direction: column;
    height: 40rem;
  }

  .header-left {
    width: var(--container-width-sm);
    margin: 0 auto;
    padding-bottom: 0;
  }

  .header-left h1 {
    width: var(--container-width-sm);
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .header-left p {
    width: var(--container-width-sm);
    font-size: 1rem;
  }

  .header-right {
    margin-top: -10rem;
  }

  .header-right .background_img {
    height: 12rem;
    padding-left: 1rem;
  }

  /* Our Service Section */

  .our_service-section {
    padding: 0;
    margin: 7rem 0 3rem;
  }

  .our_service-container {
    display: flex;
    flex-direction: column;
    width: var(--container-width-sm);
    margin: 0 auto;
    padding-top: 4rem;
  }

  .our_service-left {
    width: var(--container-width-sm);
    margin: 0 auto;
  }

  .our_service-right h1 {
    padding-top: 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .our_service-right p {
    font-size: 1rem;
    margin: 1.5rem 0 0.5rem;
    line-height: 1.3rem;
  }

  .our_service-right ul li {
    font-size: 1rem;
    line-height: 2.6rem;
  }

  /* Why Us Section */

  .why_us-section {
    width: var(--container-width-sm);
  }

  .why_us-top {
    text-align: center;
  }

  .why_us-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
  }

  /* Testimonial Section */

  .testimonial-title h1 {
    font-size: 1.6rem;
  }

  .testimonial-title p {
    font-size: 0.6rem;
    margin: 2rem 0;
  }

  .testimonial {
    padding: 4rem 2rem;
  }

  .testimonial-avatar {
    width: 5rem;
  }

  .testimonial-body {
    font-size: 1rem;
  }

  .testimonial-body img {
    margin: 1rem auto;
  }

  .testimonial-body p {
    font-size: 0.7rem;
    text-align: left;
  }

  /* Getting Started Section */

  .getting_started-section {
    margin: 2.5rem auto;
    width: var(--container-width-sm);
  }

  .getting_started-container {
    padding: 5rem 3rem;
  }

  .getting_started-container h1 {
    font-size: 2rem;
  }

  .getting_started-container p {
    font-size: 0.6rem;
  }

  /* FAQ Section */

  .faq-section {
    display: flex;
    flex-direction: column;
    width: var(--container-width-sm);
    gap: 1rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }

  .faq-left {
    text-align: center;
  }

  .faq-left h1 {
    font-size: 1.6rem;
  }

  .faq-left p {
    font-size: 0.6rem;
    margin: 1rem 0;
  }

  .faq-right {
    padding: 0;
  }

  .accordion-item {
    margin: 1rem 0;
  }

  /* Footer Section */

  footer {
    width: var(--container-width-sm);
  }

  .footer_container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 0;
  }

  .permalinks {
    margin-bottom: 0;
    padding: 0;
  }

  .footer_social {
    margin-top: 0;
  }

  .footer_4 img {
    padding-top: 0;
  }
}
