* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #0d28a6;
  --color-success: #5cb85f;
  --color-warning: #f9cc00;
  --color-danger: #fa2c5a;

  --color-white: #fff;
  --color-black: #000;

  --color-bg: #ffffff;
  --color-bg1: #f1f3ff;
  --color-bg2: #cacee7;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
h4 {
  font-size: 1.3rem;
}

h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-black);
}
p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-black);
}

img {
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  font-weight: 700;
  transition: var(--transition);
  border-radius: 2px;
}

.btn:hover {
  background: transparent;
  color: var(--color-success);
  border-color: var(--color-success);
}

.btn-primary {
  background: var(--color-success);
  color: var(--color-white);
}

section {
  margin-top: 100px;
}

/* ------------------ NAVBAR -----------------------*/
nav {
  background: var(--color-bg1);
  width: 100vw;
  height: 84px;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
  /* gap digunakan untuk mengatur colom dan baris */
  gap: 32px;
}
nav button {
  display: none;
}
.nav__menu a {
  transition: var(--transition);
}

/* ------------------ Header -----------------------*/

header {
  background: var(--color-bg1);
  position: relative;
  overflow: hidden;
  top: 4rem;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.header__container {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 100%;
}

.header__left {
  margin-left: 20%;
  margin-right: 32px;
}

.header__left p {
  margin: 16px 0;
}

.header__right-image {
  display: flex;
  justify-content: flex-end;
}
.header__image {
  width: 100%;
}

/* ------------------ Services -----------------------*/
.services {
  height: 428px;
  margin-top: 200px;
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
}
.service__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__left-image {
  position: relative;
  width: max-content;
  transform-style: preserve-3d;
}
.service__left-image .image__1 {
  position: absolute;
  top: 0px;
  left: -100px;
  transition: var(--transition);
}
.service__left-image:hover .image__1 {
  transform: translate3d(0, 0, 70px);
  transition: var(--transition);
}

.service__left-image .image__2 {
  position: absolute;
  bottom: 40px;
  left: -30px;
  transition: var(--transition);
}

.service__left-image:hover .image__2 {
  transform: translate3d(0, 0, 90px);
  transition: var(--transition);
}

.service__left-image .image__3 {
  position: absolute;
  top: 50px;
  right: 30px;
  transition: var(--transition);
}
.service__left-image:hover .image__3 {
  transform: translate3d(0, 0, 130px);
  transition: var(--transition);
}

.service__left-image:hover .service__image {
  transform: translate3d(0, 0, 40px);
  transition: var(--transition);
}

.service__image {
  transition: var(--transition);
}

.service__describe {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.image__icon {
  margin-right: 16px;
  max-width: max-content;
}
.services__right h2 {
  margin-bottom: 24px;
}

/* ------------------ Why-us -----------------------*/
.container .header__why-use p {
  margin-top: 16px;
  margin-bottom: 40px;
}
.body__why-uses {
  display: grid;
  /* membuat 3 kolom pada 1 baris */
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.why-use {
  border: #d0d0d0 solid 1px;
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}

.why-use:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.why-use h3 {
  margin: 16px 0;
}

.why-use__icon {
  background: var(--color-warning);
  padding: 0.7rem;
  border-radius: 0.9rem;
  color: var(--color-white);
}

.why-use:nth-child(2) .why-use__icon {
  background: var(--color-danger);
}

.why-use:nth-child(3) .why-use__icon {
  background: var(--color-primary);
}

.why-use:nth-child(4) .why-use__icon {
  background: var(--color-success);
}

/* ------------------ Owl-Carousel -----------------------*/

.header__testimonial {
  text-align: center;
  margin-bottom: 40px;
}

.slider-card {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg1);
  width: 620px;
  padding: 50px 32px;
  gap: 46px;
  border-radius: 8px;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-item img {
  width: 80px;
  height: 80px;
}
.card__image img {
  width: 80px;
  height: 80px;
}
.card__body p {
  margin: 8px 0;
}

.testimonial__icon {
  color: var(--color-warning);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  text-decoration: none;
}

.owl-nav button .icon {
  border: #c4c4c4 solid 1px;
  padding: 10px;
  border-radius: 50%;
}

.owl-nav button .icon:hover {
  border: #c4c4c4 solid 1px;
  padding: 10px;
  border-radius: 50%;
  background: var(--color-success);
  transition: var(--transition);
}

.owl-nav .owl-prev {
  font-size: 50px;
}

/* ------------------ CTA-BANNER -----------------------*/
.bg__ctaBanner {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaBanner__deskripsi {
  text-align: center;
}

.ctaBanner__deskripsi h1 {
  padding-top: 64px;
}

.deskripsi {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.ctaBanner__deskripsi p {
  align-self: center;
  width: 468px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.ctaBanner__deskripsi a {
  margin-bottom: 60px;
}

/* ------------------ FAQS -----------------------*/

.faqs {
  display: grid;
  grid-template-columns: 40% 60%;
}

.faqs h2 {
  margin-bottom: 16px;
}

.faqs__accordion {
  display: flex;
  flex-direction: column;
  max-width: 668px;
}

.faq___accordion {
  position: relative;
  margin-bottom: 16px;
}

.faq__question {
  border: #d4d4d4 solid 1px;
  padding: 18px 24px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.faq__answer {
  padding: 0px 24px;
  background: var(--color-bg1);
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  overflow-y: hidden;
}

.faq___accordion.active .faq__answer {
  max-height: 100px;
  padding: 10px;
}

.faq___accordion.active .faq__icon {
  transform: rotate(90deg);
  transition: var(--transition);
}

.faq___accordion .faq__icon {
  transition: var(--transition);
  font-size: 20px;
}
/* ------------------ Footer -----------------------*/
footer {
  margin-bottom: 100px;
}
.footers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer__1 {
  max-width: 268px;
}

.footer__1 li {
  margin-bottom: 16px;
}

.footer__2 li {
  margin-bottom: 16px;
}

.footer__social-media p {
  margin-bottom: 16px;
}
.footer__social-media .social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer__social-media .socialmedia__icon {
  background: var(--color-primary);
  padding: 8px 7px;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
  font-size: 18px;
}

.footer__3 p {
  margin-bottom: 16px;
}

/* ------------------ Tablet -----------------------*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  /* ------------------ Navbar -----------------------*/
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-black);
    cursor: pointer;
  }

  nav button#close-menu-btn {
    display: none;
  }

  .nav__menu {
    position: absolute;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 400ms linear forwards;
    /* agar titik tumpu memutar ke kanan atas */
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .nav__menu li:nth-child(3) {
    animation-delay: 400ms;
  }

  .nav__menu li:nth-child(4) {
    animation-delay: 600ms;
  }

  .nav__menu li:nth-child(5) {
    animation-delay: 800ms;
  }
  .nav__menu li a {
    background: var(--color-white);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--color-black);
  }

  @keyframes animateNavItems {
    /* dari */
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    /* ke */
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu li a:hover {
    background: var(--color-bg2);
    color: var(--color-white);
  }
  /* ------------------ Header -----------------------*/
  header {
    padding-bottom: 20px;
  }

  .header__left {
    margin-left: 10%;
  }
  /* service-section */
  .services {
    margin-top: 100px;
  }

  .services__container {
    grid-template-columns: 55% 45%;
  }

  .service__left-image .image__1 {
    position: absolute;
    width: 30%;
    top: 0px;
    left: -40px;
    transition: var(--transition);
  }

  .service__left-image .image__2 {
    position: absolute;
    width: 15%;
    bottom: 20px;
    left: -30px;
    transition: var(--transition);
  }

  .service__left-image .image__3 {
    position: absolute;
    width: 8%;
    top: 50px;
    right: 10px;
    transition: var(--transition);
  }
  .service__left-image .service__image {
    width: 300px;
  }

  /* why-use-section */

  .body__why-uses {
    display: grid;
    /* membuat 3 kolom pada 1 baris */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

  /* Footer */
  .footer__social-media .socialmedia__icon {
    margin-top: 16px;
  }
}

/* ------------------ Mobile -----------------------*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  /* ------------------ Header -----------------------*/
  header {
    padding-bottom: 0;
  }
  .header__container {
    display: block;
  }

  .header__left {
    margin: 0px 0px 20px 15px;
  }
  /* ------------------ Services -----------------------*/
  .services__container {
    display: block;
  }

  .service__left {
    margin-bottom: 20px;
  }
  .service__left-image .service__image {
    width: 250px;
  }

  /* ------------------ section-whyuse -----------------------*/
  .body__why-uses {
    display: grid;
    /* membuat 3 kolom pada 1 baris */
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
  }

  .whyuse-section {
    margin-top: 400px;
  }

  .slider-card {
    width: 328px;
    display: flex;
    flex-direction: column;
  }

  .card__body {
    text-align: center;
  }

  .deskripsi {
    width: 212px;
  }
  .ctaBanner__deskripsi p {
    align-self: center;
    width: 212px;
    margin-top: 16px;
    margin-bottom: 60px;
  }
  .ctaBanner__deskripsi h1 {
    font-size: 24px;
    line-height: 36px;
  }

  /* ------------------ faqs -----------------------*/
  .faqs {
    grid-template-columns: repeat(1, 1fr);
  }

  .faqs__description {
    margin-bottom: 24px;
  }

  /* ------------------ footer -----------------------*/
  .footers {
    grid-template-columns: repeat(1, 1fr);
  }
}
