* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --bg-darkblue05: #091B6F;
    --bg-darkblue04: #0D28A6;
    --bg-darkblue03: #5E70C4;
    --bg-darkblue02: #AEB7E1;
    --bg-darkblue01: #CFD4ED;

    --bg-header: #F1F3FF;

    --bg-limegreen05: #3D7B3F;
    --bg-limegreen04: #5CB85F;
    --bg-limegreen03: #92D094;
    --bg-limegreen02: #C9E7CA;
    --bg-limegreen01: #DEF1DF;

    --alert-danger: #FA2C5A;
    --alert-warning: #F9CC00;
    --alert-Success: #73CA5C;

    --color-black: #000;
    --color-white: #fff;
    --color-neutral02: #D0D0D0;

    --container-width-lg: 82%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: var(--color-black);
    background: var(--bg-header);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: var(--color-black);
}

p {
    font-size: 0.9rem;
}

img {
    /* width: 100%; */
    display: block;
    object-fit: cover;
}

.btn {
    display: inline-block;
    background: var(--bg-limegreen04);
    color: var(--color-white);
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    transition: var(--transition);
}

.btn:hover {
    color: var(--color-black);
    background: transparent;
    border-color: var(--bg-darkblue05);
}

.btn-light:hover {
    background: var(--bg-header);
    color: var(--color-black);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

/* ================== Navbar ================== */
.window-scroll {
    background: var(--color-white);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__menu li a{
    font-size: 0.9rem;
    font-weight: 400;
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    transition: var(--transition);
}

.nav__menu li a:hover {
    color: var(--bg-darkblue03);
}

.nav__container button {
    color: var(--color-black);
}

/* ================== End Of Navbar ================== */

/* ================== Header ================== */
header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 65vh;
    margin-bottom: 5rem;
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
    line-height: 1.5;
}

.header__right-image {
    position: absolute;
    top: 2rem;    
}

header img {
    width: 100%;
}

/* .header__right-image img {
    position: absolute;
    width: 100%;
} */
/* ================== End of Header ================== */

/* ================== Services ================== */
.services {
    background: var(--color-white);
    height: 100vh;
}

.services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    height: 100%;
}

.services__left {
    margin: auto 0;
}

.services__right {
    margin: auto 0;
}

.services__right h3 {
    margin-bottom: 1.5rem;
}

.service {
    display: flex;
    align-items: center;
}

.service img {
    padding-top: 1.125rem;
}

.icon__text {
    padding-left: 1rem;
    padding-top: 1.125rem;
}
/* ================== End Of Services ================== */

/* ================== Why Us ================== */
.whyus {
    background: var(--color-white);
    position: relative;
    width: 100vw;
    height: 70vh;
}

.whyus__container {
    padding: 3rem 0;
}

.whyus__container h3 {
    padding-bottom: 2rem;
}

.whyus__allcard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.whyus__card {
    border: 1px solid var(--color-neutral02);
    padding: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}

.whyus__card h4 {
    padding: 1rem 0;
}

/* ================== Testimonials ================== */
.testimonials {
    background: var(--color-white);
    padding: 5rem 0;
    position: relative;
}

.testimonials__container {
    overflow-x: hidden;
}

.testimonials__container>h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.testimonials__container>p {
    text-align: center;
    margin-bottom: 2.5rem;
} 

.testimonial {
    padding: 3rem;
    background: var(--bg-header);
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 0.5rem;
    position: relative;
}

.testimonial__info>p {
    padding: 1.5rem 0;
}

.avatar {
    display: flex;
    align-items: center;
}


/* ================== CTA Banner ================== */
.banner {
    background: var(--color-white);
    height: 80vh;
    width: 100vw;
    /* height: 100vh; */
    padding: 5rem 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.banner__container {
    background: var(--bg-darkblue04);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    border-radius: 13px;
    padding: 5rem 15rem;
}

.banner__container h3 {
    padding-bottom: 1rem;
    color: var(--color-white);
}

.banner__container p {
    padding-bottom: 3rem;
    color: var(--color-white);
}
/* ================== faqs ================== */
.faqs {
    background: var(--color-white);
    padding: 5rem 0;
}

.faqs__container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
}

.faqs__left h3 {
    margin-bottom: 1rem;
}

.faq {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    height: fit-content;
    border: 1px solid #d4d4d4;
    cursor: pointer;
}

.faq h4 {
    font-weight: 400;
}

.faq__icon {
    align-items: center;
    align-self: flex-start;
}

.faq p {
    margin-top: 0.8rem;
    display: none;
}

.faq.open p {
    display: block;
} 

/* ================== footer ================== */
footer {
    background: var(--color-white);
    padding-top: 5rem;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 1.5rem;
}

.footer__group1 {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 3rem;
}

.footer__group2 {
    display: flex;
    justify-content: space-between;
}

.footer__1 p {
    margin: 0 0 2rem;
    vertical-align: top;
}

footer ul li a {
    padding-right: 2rem;
}

footer ul li {
    margin-bottom: 2rem;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer__3 p {
    margin: 0 0 2rem;
}

.footer__3-social ul {
    display: flex;
    gap: 1rem;
}

.footer__4 p {
    margin: 0 0 2rem;
}

/* ************************ Media quaries (tablets) ************************ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    .btn-header {
        color: var(--color-black);
        border: none;
    }
        
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn  {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        height: 5rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__menu li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__menu li:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav__menu li:nth-child(5) {
        color: var(--color-black);
        animation-delay: 800ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }

    .nav__menu li a {
        background: var(--color-white);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav__menu li a:hover {
        background: var(--color-neutral02);
        color: var(--color-black);

    }

    /* ************************ Header ****************** */
    header {
        height: auto;
    }

    .header__container {
        gap: 0;
        padding-bottom: 3rem;
    }

    /* ************************ Services ****************** */
    .services {
        height: auto;
    }

    .services__container {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 5rem 0;
    }

    /* ************************ why us ****************** */
    .whyus {
        height: auto;
    }

    .whyus__allcard {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ************************ Testimonial ****************** */

    /* ************************ Banner ****************** */
    .banner {
        height: auto;
    }

    .banner__container {
        padding: 3rem;
    }

    /* ************************ FAQ ****************** */
    .faqs {
        height: auto;
    }

    .faqs__container {
        grid-template-columns: 1fr;
    }
    /* ************************ Footer ****************** */
    footer {
        height: auto;
    }

    .footer__container {
        grid-template-columns: 1fr;
    }
}

/* ************************ Media quaries (phones) ************************ */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .nav__menu {
        right: 3%;
    }

    /* ************************ Header ****************** */
    header {
        height: auto;
    }

    .header__container {
        grid-template-columns: 1fr;
    }

    .header__left {
        margin-bottom: 2rem;
    }

    .header__right-image {
        position: static;
    }
    
    /* ************************ Services ****************** */
    .services .img>img {
        width: 100%;
    }

    /* ************************ why us ****************** */
    .whyus__allcard {
        grid-template-columns: 1fr;
    }

    /* ************************ Testimonials ****************** */
    .testimonial {
        grid-template-columns: 1fr;
    }

    .avatar {
        padding-bottom: 2rem;
        margin: 0 auto;
    }

    .testimonial__info>img {
        margin: 0 auto;
    }

    /* ************************ Services ****************** */
    .faqs__left {
        text-align: center;
    }

    /* ************************ Footer ****************** */
    .footer__container {
        grid-template-columns: 1fr;
    }

    .footer__group1 {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer__group2 {
        display: block;
        gap: 0;
        padding: 0 0 5rem;
    }
}